.pagination {
  list-style: none;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
  gap: 3px;
}

.active {
  background-color: var(--gray-light);
  border-radius: var(--radius-size-smallsmall);
}

.page-item {
  list-style: none;
  padding: 2px 12px;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  color: var(--gray);
  border-width: 1px;
  border-radius: var(--radius-size-smallsmall);
}

.page-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
