.graph-container {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: var(--box-shadow);
  margin: 30px;
  border-radius: var(--radius-size-small);
}

* {
  font-family: var(--font-family);
}
