.topic-item-wrap__2FSZ {
  .topic-item-wrap__2FSZ {
    border-bottom: 1px solid #eeeeee;
  }
}
.topic-item__1Asc {
  display: flex;
  height: 80px;
  padding: 8px 25px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  transition: background-color 500ms linear;
  border: 0.005px solid rgb(245, 241, 241);
}
.anonymous-avatar__1Xqe {
  opacity: 0.7;
  border-radius: 50%;
}
.avatar__2epM {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 20px;
}

.topic-title-wrapper__27Nt {
  -webkit-box-flex: 1;
  flex: 1;
  min-width: 0;
  box-sizing: border-box;
}

.item-header__2w29 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title-link__1ay5 {
  font-weight: 600;
  font-size: 20px;
}

.wrapper__Fm3q {
  display: flex;
  gap: 12px;
  box-sizing: border-box;
}

.icon-wrapper__3uKf {
  margin-left: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
