.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 700px;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.instructions {
  width: 100%;
}
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot_layout {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 50px 100px;
}

.basic_info{
    width: 60%;
    justify-content: space-around;
}