.element {
  height: 45%;
}

.page-drawer-base__-zHW[data-appear='true'] {
  opacity: 1;
}

.page-drawer-base__-zHW {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 147;
  border-top: 1px solid #dddddd;
  background: white;
  min-height: 200px;
  height: auto;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.4s;
}

.editor-header__3sIw {
  margin: 20px 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.editor-header-left__RLbD {
  display: flex;
  flex: 0 1 500px;
}

.title-input__2sXm {
  flex: 1;
}

.wrapper__3jgl {
  display: inline-block;
  position: relative;
}

.md__3TJb .input__2o8B {
  padding: 8.85px 13px;
  font-size: 14px;
}

.input__2o8B {
  width: 100%;
  box-sizing: border-box;
  color: #546e7a;
  border: 1px solid #cfd8dc;
  border-radius: 3px;
  font-weight: 300;
  text-overflow: ellipsis;
  transition: 0.4s all;
}

.tag-line__2Ead {
  display: flex;
  justify-content: space-between;
}

.editor-header-tool__2QB- {
  flex: 0 0 auto;
  margin-left: 10px;
}

.header-right__2UzF {
  display: flex;
  align-items: center;
}

.toggle-anonymous__1TS4 {
  margin-right: 20px;
}

.checkbox__3T7Q {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}
//button cancel
.cancel-button__3_JS {
  margin-right: 20px;
}

.btn-info__3EMF,
.btn-info__3EMF:active:not([disabled]) {
  color: #3882a7;
  border-color: #cfd8dc;
  background: #2a0c0c;
}

.btn-md__M51O {
  height: 40px;
  padding: 0 12px;
}

.btn__1z2CC:hover {
  background-color: #8d8484;
  color: #000000;
  border-color: #b0bec5;
}

.btn__1z2CC {
  border: 1px solid #b0bec5;
  border-radius: 3px;
  background: #ffffff;
  color: rgb(2, 10, 15);
  line-height: 20px;
  font-size: 14px;
  transition: 0.18s all ease-in-out;
  outline: 0;
  cursor: pointer;
}
//
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;
}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

p,
input,
textarea,
select,
button {
  font-size: 14px;
  font-weight: 400;
}

.content-container {
  height: 30%;
  margin: 0 10px;
}

.topic-editor-base {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.css-ti4mbd > .Select-control .Select-placeholder {
  padding-top: 3px;
}
//////
.css-ti4mbd > .Select-control {
  height: 40px;
  padding-top: 3px;
}

.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.Select-control {
  background-color: #360202;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
