.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  background-color: #0f0f0f;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 4fr 2fr;
  grid-template-areas: 'nav__layout           nav__layout'
                        'nav__problem__layout editor__layout'
                        'problem__layout      editor__layout'
                        'problem__layout      testcases_layout'
}

.problem__layout {
  grid-area: problem__layout;
  background-color: aquamarine;
  margin: 10px 10px 0 10px;
}

.editor__layout {
  border-radius: 10px;
  border: 1px solid #a7a7a7;
  margin: 10px 10px 0 0;
  grid-area: editor__layout;
}

.testcases_layout {
  color: white;
  grid-area: testcases_layout;
  background-color: #262626;
  margin: 10px 10px 10px 0;
  border: 1px solid #a7a7a7;
  border-radius: 10px;
}

.nav {
  grid-area: nav;
}

.nav__problem__layout {
  grid-area: nav__problem__layout;
}

@media only screen and (min-width: 768px) { }