$container-height: 'auto';
@mixin center {
  align-items: center;
  justify-content: center;
}
@mixin row {
  display: flex;
  flex-direction: row;
}
@mixin column {
  display: flex;
  flex-direction: column;
}
.problems {
  &__container {
    height: $container-height;
    @include row();
    &_layout {
      box-shadow: var(--box-shadow);
      padding: 5px;
      border-radius: var(--radius-size-small);
      @extend %colStyle;
      width: 100%;
    }
    &_col {
      &_60 {
        @extend %colStyle;
        width: 60%;
      }
      &_40 {
        @extend %colStyle;
        width: 40%;
      }
      &_50 {
        @extend %colStyle;
        width: 50%;
      }
      &_70 {
        @extend %colStyle;
        width: 70%;
      }
      &_30 {
        @extend %colStyle;
        width: 30%;
      }
    }
  }
}

%colStyle {
  height: 100%;
  @include column();
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 25px;
}

.table__control {
  @include row();
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

