$container-height: 1200px;
@mixin center {
  align-items: center;
  justify-content: center;
}
@mixin row {
  display: flex;
  flex-direction: row;
}
@mixin column {
  display: flex;
  flex-direction: column;
}
.problems {
  &__container {
    height: $container-height;
    @include row();
    &--col {
      &--60 {
        @extend %colStyle;
        width: 60%;
      }
      &--40 {
        @extend %colStyle;
        width: 40%;
      }
      &--50 {
        @extend %colStyle;
        width: 50%;
      }
      &--70 {
        @extend %colStyle;
        width: 70%;
      }
      &--30 {
        @extend %colStyle;
        width: 30%;
      }
    }
  }
}
%colStyle {
  height: 100%;
  @include column();
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 25px;
}
